/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Dark theme variables */
$dark-background: #252a34 !default;
$dark-text: #eaeaea !default;
$dark-primary: #00adb5 !default;
$dark-border: mix(#fff, $dark-background, 20%) !default;
$dark-code-background: mix(#000, $dark-background, 15%) !default;
$dark-code-background-dark: mix(#000, $dark-background, 20%) !default;
$dark-form-background: mix(#000, $dark-background, 15%) !default;
$dark-footer-background: mix(#000, $dark-background, 30%) !default;
$dark-link: mix($dark-primary, $dark-text, 40%) !default;
$dark-link-hover: mix(#fff, $dark-link, 25%) !default;
$dark-link-visited: mix(#000, $dark-link, 25%) !default;
$dark-masthead-link: $dark-text !default;
$dark-masthead-link-hover: mix(#000, $dark-text, 20%) !default;
$dark-navicon-link-hover: mix(#000, $dark-background, 30%) !default;

/* Apply dark theme when .dark class is present on body */
body.dark {

  background-color: $dark-background;
  color: $dark-text;

  a {
    color: $dark-link;
    &:hover { color: $dark-link-hover; }
    &:visited { color: $dark-link-visited; }
  }

  .page__content {
    .notice,
    .notice--primary,
    .notice--info,
    .notice--warning,
    .notice--success,
    .notice--danger {
      color: $dark-text;
    }
  }

  .page__footer {
    background-color: $dark-footer-background;
  }

  .masthead,
  .navigation-wrapper {
    background-color: $dark-background;
    border-bottom-color: $dark-border;
  }

  .greedy-nav {
    background: $dark-background;
    
    a {
      color: $dark-masthead-link;
      &:hover { color: $dark-masthead-link-hover; }
    }
  }

  .search__toggle,
  .greedy-nav__toggle,
  .theme-toggle {
    color: $dark-masthead-link;
    &:hover { color: $dark-masthead-link-hover; }
  }

  code.highlighter-rouge {
    background: $dark-code-background;
  }
}

.author__urls.social-icons i,
.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}
