---
layout: archive
---

<div class="custom-bio">
  <p>Hi, I'm Cheng. First off, thanks for stopping by. The internet is a big, busy place, so the fact that you found your way to my little corner means a lot. This blog is where I share thoughts, ideas, and curiosities—mostly from my personal learning journey—for easier reference in the future. I hope you discover something interesting or useful here!</p>
</div

{{ content }}

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
