/* ==========================================================================
   CUSTOM STYLES
   ========================================================================== */

.custom-bio {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #eaeaea;
}
